/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Didact+Gothic&family=Great+Vibes&family=Lato:wght@300&family=Mooli&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Philosopher&display=swap');

/* General target for all elements */
* {
    padding: 0;
    margin: 0;
}

/* General */
body {
    display: flex;
    flex-direction: column;
    color: #4d4d4d;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Philosopher", sans-serif;
    letter-spacing: 2px;
    color: #4d4d4d;
    text-transform: uppercase;
}

/* Header */
header {
    background-color: #FFF2F6FF;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #808080;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 3px;
    padding-top: 10px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
    list-style-type: none;
}

.current {
    border-bottom: 1px solid #808080;
}

/* Nav bar dropdown styles */

nav {
    position: absolute;
    background-color: #FFF2F6FF;
    width: 100%;
    left: 0;
    padding: 1rem;
    box-shadow: 0 3px 3px #808080;
    display: none;
    top: 100%;
}

/* Nav toggle */

#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    font-size: 2rem;
    padding-right: 10px;
}

/* Main Content */
main {
    /* flex in place to push the footer down, taking up any additional space */
    flex: 1 0 auto;
    /* Margin top to stop main content being covered by header */
    margin-top: 40px;
    /* General Styles */
    background-color: #f2f2f2;
    /* flex for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    /****************** FIX IMG ***********/
    background: url("../images/hero-two.jpg") no-repeat center center/cover;
    /* Move image to the left in mobile view */
    background-position: -200px;
    position: relative;
}

#cover-text {
    background-color: rgb(255, 179, 179, .6);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 80px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

#reasons {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #4d4d4d;
    padding: 20px;
    background-color: #ffe6e6;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#beautiful-comfort>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 30px;
}

hr {
    border-bottom: 1px solid #4d4d4d;
    margin: 5px 0;
}

/* Client Comments */
#reviews h2 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 40px;
}

#comments {
    font-family: "Courgette", sans-serif;
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 20px;
}

#comments div {
    margin-bottom: 50px;
    margin-top: 50px;
}

#comments p {
    padding: 0 30px;
}

.comments-1-3 {
    background-color: rgb(255, 179, 179, .4);
    bottom: 30px;
    min-height: 60px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    box-shadow: 0 3px 3px #808080;
    width: 60%;
}

#second-comment {
    background-color: rgb(255, 179, 179, .2);
    bottom: 30px;
    min-height: 60px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    box-shadow: 0 3px 3px #808080;
    width: 60%;
}

/* Gallery */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Footer */
footer {
    background-color: #FFF2F6FF;
    box-shadow: -1em 0 .4em #808080;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 200%;
    color: #4D494AFF;
}

/* Contacts Page */
#contact {
    background-image: url(../images/contact-image.jpg);
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #ffffff;
    background-color: rgb(140, 140, 140, 0.6);
    padding: 30px;
    border: 1px solid #ffffff;
}

#contact-form>h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

#contact-form>h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
}

.text-input {
    background: transparent;
    color: #ffffff;
    width: 100%;
    height: 20px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 30px;
    font-size: 100%;
    background-color: #808080;
    color: #ffffff;
}

/* Services Page */
#services {
    width: 90%;
    margin: 20px auto;
}

#services h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 250%;
    border: 2px solid #ffffff;
    background-color: rgb(217, 217, 217);
}

#services h3,
h4 {
    text-align: center;
}

#lash-list>div,
#brow-list>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#services-pricing p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #808080;
    margin: 5px 0;
}

#circle-background {
    background: url('../images/services-image-new.jpg') no-repeat top center / cover;
    height: 90vh;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#services-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Large or landscape phones */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query used to override the '-' background position used in the mobile view CSS on the hero image.
Also used to adjust content layout in the header (no dropdown), the main content, gallery (image layout)
and contact page (size of the form)*/
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-dropdown-label {
        display: none;
    }

    #logo {
        font-size: 255%;
        line-height: 70px;
        padding-left: 20px;
    }

    /* Main content */
    main {
        margin-top: 85px;
    }

    /* Hero */

    #hero {
        height: 600px;
        width: 100%;
        background: url("../images/hero-two.jpg") no-repeat center center/cover;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

    /* Contact Page */
    #contact {
        background-position: center;
        position: relative;
    }

    #contact-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 75px;
    }

    .text-input:hover {
        border-color: #ffe6e6;
    }

    .join-button:hover {
        background-color: #ffffff;
        color: #ffe6e6;
    }
}

/* Media query used to adjust text size in clients comments section, to add border
 bottom underlines to the menu section (nav bar), to adjust the layout of the images
 in the gallery */
@media screen and (min-width: 992px) {
    
    #menu a:hover {
        border-bottom: 1px solid #808080;
    }

    /* Hero */
    #hero {
        height: 600px;
        width: 100%;
        background: url("../images/hero-two.jpg") no-repeat center center/cover;
    }

    #cover-text {
        width: 36%;
    }

    /* Client Comments Section*/
    #comments {
        font-size: 23px;
    }

    /* Gallery */
    #photos {
        column-count: 4;
        height: fit-content;
    }


}