/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Didact+Gothic&family=Great+Vibes&family=Lato:wght@300&family=Mooli&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Philosopher&display=swap');

/* General target for all elements */
* {
    padding: 0;
    margin: 0;
}

/* General */
body {
    display: flex;
    flex-direction: column;
    color: #808080;
    min-height: 100vh;
    font-family: "Mooli", sans-serif;
}
/* Header */
header {
    background-color: #ffe6e6;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #808080;
}
/* Main Content */
main {
    background-color: #cccccc;
    /* flex in place to push the footer down, taking up any additional space */
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: #e6e6e6;
}

h1 {
    font-family: "Mooli", sans-serif;
}

