/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Didact+Gothic&family=Great+Vibes&family=Lato:wght@300&family=Mooli&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Philosopher&display=swap');

/* General target for all elements */
* {
    padding: 0;
    margin: 0;
}

/* General */
body {
    display: flex;
    flex-direction: column;
    color: #808080;
    min-height: 100vh;
    font-family: "Mooli", sans-serif;
}

/* Header */
header {
    background-color: #FFF2F6FF;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #808080;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Mooli", sans-serif;
    letter-spacing: 2px;
    color: #4D494AFF;
}

#menu {
    letter-spacing: 3px;
    padding-top: 10px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
    list-style-type: none;
}

.current {
    border-bottom: 1px solid #808080;
}

/* Nav bar dropdown styles */

nav {
    position: absolute;
    background-color: #FFF2F6FF;
    width: 100%;
    left: 0;
    padding: 1rem;
    box-shadow: 0 3px 3px #808080;
    display: none;
    top: 100%;
}

/* Nav toggle */

#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    font-size: 2rem;
    padding-right: 10px;
}

/* Main Content */
main {
    background-color: #cccccc;
    margin-top: 40px;
    /* flex in place to push the footer down, taking up any additional space */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #e6e6e6;
}

/* For display on tablets and larger (768px +) */
@media screen and (min-width: 768px) {

    /* Header */
        nav {
            display: block;
            position: relative;
            box-shadow: none;
            width: fit-content;
            padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-dropdown-label {
        display: none;
    }

    #logo {
        font-size: 255%;
        line-height: 70px;
        padding-left: 20px;
    }

    /* Main content */
    main {
        margin-top: 85px;
    }

}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #808080;
    }
}